img {
    max-width: 100%;
    height: auto;
}

header {
    background-size: cover;
    background-color: rgb(0, 12, 177);
    color: rgba(255,255,255);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.flex-dogs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-dogs > figure {
    max-width: 25%;

}

figure > ul {
    list-style-type: none;
    list-style-position: outside;
    padding: 0px;
    margin: 0px;
}

figure > ul > li {
    background-color: rgb(25, 216, 250);
    display: inline-block;
    padding: 5px;
    border-radius: 12px;
    margin: 5px;
    font-size: 75%;
}

.flex-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.flex-footer > div {
    color: rgba(255,255,255);
    text-align: center;
    flex: 1;
    min-height: 300px;
}

#footer-image-1 {
    background: linear-gradient(rgba(36, 99, 194, 0.5), rgba(36, 99, 194, 0.5)),
                url("starter_files/images/donate.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}


#footer-image-2 {
    background: linear-gradient(rgba(36, 99, 194, 0.5), rgba(36, 99, 194, 0.5)),
                url("starter_files/images/volunteer.jpg");
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#footer-image-3 {
    background: linear-gradient(rgba(36, 99, 194, 0.5), rgba(36, 99, 194, 0.5)),
                url("starter_files/images/location.png");
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}   